In [ ]:
#print 0 to 20 by using range

In [4]:
for num in range (0, 20):
    print (num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
#print 10 to 20 by using range

In [13]:
for num in range (10, 20):
    print (num, end=" ")

10 11 12 13 14 15 16 17 18 19

In [14]:
print(*range(10, 20))

10 11 12 13 14 15 16 17 18 19

In [15]:
num = 10
while num < 30:
    print(num, end=" ")
    num += 1

10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29

In [ ]:
# Print number of items in the list by using "len"

In [7]:
List2 = [10, 20, 14, 55, 43, 87, 76]
print(List2)
print("Number of item in the List2:")
print(len(List2))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2:
7

In [8]:
List2 = [10, 20, 14, 55, 43, 87, 76, 90, 100]
print(List2)
print("Number of item in the List2:", len(List2))

[10, 20, 14, 55, 43, 87, 76, 90, 100]
Number of item in the List2: 9

In [16]:
print("Artificial Intelligence")
print()

for char in "Artificial":
    print(char)

print()

for char in "Intelligence":
    print(char)

Artificial Intelligence

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [17]:
text = "Artificial Intelligence"
print(text)
print()

# Print "Artificial" vertically
word1 = "Artificial"
for char in word1:
    print(char)

print()

# Print "Intelligence" vertically
word2 = "Intelligence"
for char in word2:
    print(char)

Artificial Intelligence

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [18]:
text = "-Your Name-"
print(text)
text = "-Your Age-"
print(text)
text = "-Your Profession-"
print(text)

-Your Name-
-Your Age-
-Your Profession-

In [20]:
print("-Your Name-Govindasamy")
print("-Your Age-47")
print("-Your Profession-QC Engineer")

-Your Name-Govindasamy
-Your Age-47
-Your Profession-QC Engineer

In [21]:
print("""-Your Name-Govindasamy
-Your Age-47
-Your Profession-QC Engineer""")

-Your Name-Govindasamy
-Your Age-47
-Your Profession-QC Engineer

In [22]:
info = ["-Your Name-Govindasamy-", "-Your Age-47", "-Your Profession-QC Engineer"]
for item in info:
    print(item)

-Your Name-Govindasamy-
-Your Age-47
-Your Profession-QC Engineer

In [ ]:
# Refer this link : https://www.geeksforgeeks.org/python-tuples/

In [23]:
tuple1 = (1, 'Welcome', 2, 'Hope')
print(tuple1)

(1, 'Welcome', 2, 'Hope')

In [25]:
tup=("(1, 'Welcome', 2, 'Hope')")
print(tup)

(1, 'Welcome', 2, 'Hope')

In [ ]:
# Refer this link : https://www.geeksforgeeks.org/python-tuples/
Tuple1 = (0, 1, 2, 3)

In [26]:
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('python', 'HOPE')
Tuple3 = (Tuple1, Tuple2)
print(Tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [ ]:
# Print this mixed datatype using Tuples

In [27]:
tuple1 = (1, 'Welcome', 2, 'Hope')
print(tuple1)

print()  # Blank line

Tuple1 = (0, 1, 2, 3)
Tuple2 = ('python', 'HOPE')
Tuple3 = (Tuple1, Tuple2)
print(Tuple3)

(1, 'Welcome', 2, 'Hope')

((0, 1, 2, 3), ('python', 'HOPE'))

In [ ]:
# Print odd Number in the list

In [35]:
numbers = (20, 10, 16, 19, 25, 1, 276, 188)
print(numbers)

for num in numbers:
    if num % 2 !=0:
        print(f"{num} is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [ ]:
# Print even Number in the list

In [40]:
numbers=[20, 10, 16, 19, 25, 1, 276, 188]
print(tuple(numbers))

for num in numbers:
    if num % 2 !=0:
        print(f"{num} is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [43]:
numbers=[20, 10, 16, 19, 25, 1, 276, 188]
print(tuple(numbers))

for num in numbers:
    if num % 2 == 0:
        print(f"{num} is even")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is even
10 is even
16 is even
276 is even
188 is even